:root {
    --light: #fff;
    --dark: rgb(40, 40, 40);
    
    --gold: goldenrod;
    --gold-100: #fbf7ef;
    --gold-200: #a97f2e;
    --gold-300: #615743;

    --shadow-box-light: 0.063rem 0.063rem 0.188rem var(--dark);
    --shadow-box-medium: 0.063rem 0.188rem 0.5rem var(--dark);
    --shadow-box-strong: 0.063rem 0.375rem 0.75rem var(--dark);

    --shadow-text-light: 0.063rem 0.063rem 0.063rem var(--dark);
    --shadow-text-medium: 0.063rem 0.125rem 0.125rem var(--dark);
    --shadow-text-strong: 0.063rem 0.188rem 0.188rem var(--dark);

    --font-size-xxsmall:  0.563rem;
    --font-size-xsmall:  0.625rem;
    --font-size-small: 0.813rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.225rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 2rem;
    --font-size-title: 4rem;
    --font-size-subtitle: 3rem;
}

.text-xxsmall{
    font-size: var(--font-size-xxsmall);
}
.text-xsmall{
    font-size: var(--font-size-xsmall);
}
.text-small{
    font-size: var(--font-size-small);
}
.text-medium{
    font-size: var(--font-size-medium);
}
.text-large{
    font-size: var(--font-size-large);
}
.text-xlarge{
    font-size: var(--font-size-xlarge);
}
.text-xxlarge{
    font-size: var(--font-size-xxlarge);
}
.text-title{
    font-size: var(--font-size-title);
}
.text-subtitle{
    font-size: var(--font-size-subtitle);
}



/* ======================= GERAL ===================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth
}

body {
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.6rem;
}
  
body::-webkit-scrollbar-track {
    background: var(--dark);
    border: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--gold-200);
    border-radius: 1.25rem;
}

.scroll-snap{
    scroll-snap-align: center;
}
/* ==========================================*/



/*================== nav =======================*/
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: -webkit-linear-gradient(top, #4a453b, var(--dark));
    padding: 1.25rem 0;
    box-shadow: var(--shadow-box-strong);
}

.nav .logo {
    height: 2.5rem;
}

.nav .items {
    gap: 6.25rem;
    display: flex;
    justify-content: space-around;
}

.nav .items .item{
    color: var(--light);
    text-decoration: none;
    transition: 0.5s;
}

.nav .items .item:hover{
    color: var(--gold-200);
    text-shadow: var(--shadow-text-light);
}
/*==================================================*/




/*================== APRESENTATION =======================*/

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
.presentation{
    padding: 7rem;
    background-color: rgb(0, 0, 0, 0.7);
}

.presentation .card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    border: solid var(--light) 0.125rem;
    box-shadow: var(--shadow-box-medium);

    width: 40rem;
    padding: 2rem;
    animation-duration: 3s;
    animation-name: slidein;
}

.presentation .card .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -3.5rem;

    background-color: var(--gold-200);
    color: var(--light);
    text-shadow: var(--shadow-text-medium);
    box-shadow: var(--shadow-box-medium);

    padding: 0.62rem 0;
    width: 16rem;
}

.presentation .card .title{
    color: var(--gold-200);
    text-shadow: var(--shadow-text-strong);
}

.presentation .card .subtitle{
    color: var(--light);
    text-shadow: var(--shadow-text-strong);
    margin: 0 0 1.25rem 0;
}

.presentation .card .paragraphy{
    color: var(--light);
    text-shadow: var(--shadow-text-medium);
    text-align: justify;
}

.about{
    height: 110vh;
    display: flex;
}

.presentation .about{
    margin: 22rem auto 15rem auto;
    width: 60rem;
}

.presentation .about .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation .about .container .separator{
    margin-bottom: 4rem;
    width: 20rem;
    height: 0.2rem;

    background-color: var(--gold-200);
}

.presentation .about .container .title{
    color: var(--light);
    text-shadow: var(--shadow-text-strong);
}

.presentation .about .container .paragraphy{
    color: var(--light);
    text-align: justify;
    text-shadow: var(--shadow-text-medium);
    margin: 1rem 0;
}
/*=======================================================*/

/*================== managenment =======================*/

.management {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  var(--gold-100);
    min-height: 100vh;
    padding-bottom: 30rem;
}

.management .point-scroll{
    height: 1rem;
    position: relative;
    top: -11rem;
}

.management .card{
    display: flex;
    justify-content: center;

    max-width: 50rem;
    padding: 3.125rem;
    position: relative;
    top: -6.25rem;

    background-color: var(--light);
    border-radius: 0.313rem;
    box-shadow: var(--shadow-box-strong);
    border: solid 0.188rem var(--gold);
}

.management .card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

.management .card .header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.management .card .header .icon{
    color: var(--gold-200) ;

    display: flex;
    justify-content: center;
    align-items: center;
}


.management .card .header .title{
    color: var(--gold-200);
    margin: 0.625rem 0;
}

.management .card .text{
    text-align: justify;
    margin: auto;
}

.management .values{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.management .values .point-scroll{
    height: 1rem;
    position: relative;
    top: -4rem;
}

.management .values .header{
    width: 10rem;
    display: flex;
    justify-content: center;
}

.management .values .header .title{
    color: var(--gold);
    text-shadow: var(--shadow-text-light);
}

.management .values .separator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 0;
    width: 18.75rem;
    height: 0.15rem;

    background-color: var(--gold-200);
}

.management .values .separator .fa-chevron-down{
    padding: 0.313rem;
    background-color: var(--gold-100);
    border-radius: 50%;
    border: solid 0.063rem var(--gold-200);
    color: var(--gold-200);
}


.management .values .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70rem;
}

.management .values .overflow{
    height: 20rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    width: 100%;
}
  
.management .values .content .overflow::-webkit-scrollbar { 
	display: none;
}


.management .values .content .overflow .text {
    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8rem 0;
}

.overflow .value{
    color: var(--gold);
    text-shadow: var(--shadow-text-medium);
}

.management .divider-shadow{
    height: 0.2rem;
    width: 100%;

    background-color: var(--gold-200);

    box-shadow: 0 0.5rem 1.5rem black;
}

/*================== areas-expertise ===================*/

.areas-expertise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfd2a0;

    padding: 5rem 8rem;
}

.areas-expertise .area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 110vh;
}

.areas-expertise .area .title{
    color: var(--gold-200);
    text-shadow: var(--shadow-text-light);

}

.areas-expertise .area .separator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.2rem;
    height: 8rem;

    background-color: var(--gold-200);
}

.areas-expertise .area .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}


.areas-expertise .area .subtitle{
    color:var(--gold-300);
    margin: 0.5rem;
    width: 40rem;
}

.areas-expertise .acting{
    width: 100%;

}

.areas-expertise .acting .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.areas-expertise .acting .row .card{
    height: 14rem;
    width: 14rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0.5rem 0;


    border: 0.313rem solid #d6c47c;
    box-shadow: var(--shadow-box-strong);
}

.areas-expertise .acting .row .card .bg{
    height: 100%;
    width: 100%;

    background-color: rgba(80, 74, 53, 0.8);
    padding: 2rem;

    transition: 1.5s;
}

.areas-expertise .acting .row .card .bg:hover{
    background-color: transparent;
}

.areas-expertise .acting .row .card span{
    color: var(--light);
    margin-top: 2.5rem;

    text-shadow: var(--shadow-text-medium);
    color: var(--gold);
}

/*================== Team =======================*/

.team{
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 110vh;
    padding: 10rem;

    background-color: var(--gold-300);
}

.team .description{
    width: 100%;
}

.team .description .title{
    color: var(--gold-200);
    text-shadow: var(--shadow-text-medium);
}

.team .description .paragraphy{
    text-align: justify;
    color: var(--light);
    text-shadow: var(--shadow-text-medium);
    margin: 0.7rem 0;
}

.team .separator{
    width: 0.4rem;
    height: 20rem;

    background-color: var(--gold-200);

    margin: 0 5rem;
}

.team .message{
    width: 100%;
}

.team .message .text{
    color: var(--light);
    text-shadow: var(--shadow-text-medium);
}


/*================== informations =======================*/

.informations{
    background: -webkit-linear-gradient(top, #4a453b, rgb(29, 29, 29));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 110vh;
    padding: 0 2rem;
}

.informations .header{
    padding: 10rem 20rem 0 20rem;
    margin-bottom: 5rem;
}

.informations .header .title{
    text-shadow: var(--shadow-text-medium);
    color: var(--gold-200);
}

.informations .header .text{
    text-align: justify;
    color: var(--light);
    text-shadow: var(--shadow-text-medium);
}

.informations .container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.informations .address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 5rem;

}

.informations .address .infos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    align-self: flex-start;
}
.informations .address .title{
    text-shadow: var(--shadow-text-medium);
    color: var(--gold-200);
    align-self: center;
}

.informations .address .subtitle{
    color: var(--light);
    text-shadow: var(--shadow-text-medium);
    text-decoration: none;

    margin: 0.5rem 0;
    max-width: 25rem;
}

.informations .address .subtitle .icon{
    margin: 0 0.625rem;
    color: var(--gold-200);
}

.informations .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations .contacts .link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.625rem;

    text-decoration: none;
    color: var(--gold-200);
    cursor: pointer;
}


/*================== Footer =======================*/
 footer{
    padding: 1.563rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(32, 32, 32);
    color: var(--light);
 }

 footer .link{
    text-decoration: none;
    color: var(--light);
    margin-left: 0.625rem;

    cursor: pointer;
 }

  
 @keyframes slidein {
    from{
        opacity: 0;
        transform: translateX(-6.25rem)
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
  }